<div class="container mt-5">
    <div class="mb-3">
      <input type="file" accept="image/*" (change)="addImage($event)" class="form-control">
    </div>

    <div class="row">
        <div class="col-md-4" *ngFor="let imagem of fotosExistentes; let i = index">
          <div class="card mb-3">
            <img [src]="'http://localhost:3000/uploads/' + imagem.foto" class="card-img-top" alt="Imagem existente" style="width: 100%; height: auto;">
            <div class="card-body">
              <button class="btn btn-danger" (click)="removerImagemExistente(i, imagem.id)">Remover Imagem</button>
            </div>
          </div>
        </div>
      <div class="col-md-4" *ngFor="let image of imageUrls; let i = index">
        <div class="card mb-3">
          <img [src]="image" class="card-img-top" alt="Imagem" style="width: 100%; height: auto;">
          <div class="card-body">
            <button class="btn btn-danger" (click)="removeImage(i)">Remover Imagem</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  
