@import "padroes";

.zeroDisplayFooter {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  flex-wrap: wrap;
  min-width: 100%;
  background-color: $CONNECTEVENT-cor-cinza-dark;
  color: $detalhe-borda-normal;
  border-top: 3px solid $detalhe-borda-especial;
  box-shadow: 0px 0px 10px $CONNECTEVENT-cor-cinza-light;
}

.displayFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.divCopyright {
  background-color: $CONNECTEVENT-cor-cinza-low-dark;
  color: $detalhe-borda-normal;
  width: 100%;
}

.divCard {
  border: 3px solid $detalhe-borda-especial;
  box-shadow: 0px 0px 10px $CONNECTEVENT-cor-cinza-light;
  border-radius: 10px;
  width: 20rem;
  height: 12rem;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.tagRow {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.tagColumn {
  display: flex;
  flex-direction: column;
}

.tagImgM {
  height: 3rem;
  width: 3rem;
}

.tagImgG {
  height: 3.5rem;
  width: 3.5rem;
}

.nav-item {
  // border: 1px solid red;

  &:hover {
    filter: drop-shadow(0px 0px 10px $detalhe-borda-hover-light);
  }
}
