<nav class="column center navbar-expand-lg navbar-light bg-body-tertiary">
  <div class="zeroDisplayFooter center container-fluid p-5">
    <div class="divCard center column">
      <ul class="center tagColumn navbar-nav">
        <div class="tagRow">
          <li class="nav-item active">
            <a
              class="nav-link"
              [routerLink]="'.'"
              (click)="isMenuCollapsed = true"
              ><img class="tagImgM" src="../../assets/instagram.png" alt=""
            /></a>
          </li>
          <li class="nav-item active">
            <a
              class="nav-link"
              [routerLink]="'.'"
              (click)="isMenuCollapsed = true"
              ><img class="tagImgM" src="../../assets/facebook.png" alt=""
            /></a>
          </li>
          <li class="nav-item active">
            <a
              class="nav-link"
              [routerLink]="'.'"
              (click)="isMenuCollapsed = true"
              ><img class="tagImgG" src="../../assets/twitter.png" alt=""
            /></a>
          </li>
        </div>
        <div class="tagRow">
          <li class="nav-item active">
            <a
              class="nav-link"
              [routerLink]="'.'"
              (click)="isMenuCollapsed = true"
              ><img class="tagImgG" src="../../assets/o-email.png" alt=""
            /></a>
          </li>
          <li class="nav-item active">
            <a
              class="nav-link"
              [routerLink]="'.'"
              (click)="isMenuCollapsed = true"
              ><img class="tagImgM" src="../../assets/whatsapp.png" alt=""
            /></a>
          </li>
        </div>
      </ul>
    </div>

    <div class="divCard center column">
      <ul class="column navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'.'"
            (click)="isMenuCollapsed = true"
            >Cookies</a
          >
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            [routerLink]="'.'"
            (click)="isMenuCollapsed = true"
            >Condições de Uso</a
          >
        </li>
        <li class="nav-item active">
          <a
            class="nav-link"
            [routerLink]="'.'"
            (click)="isMenuCollapsed = true"
            >Notificação de Privacidade</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="'.'"
            (click)="isMenuCollapsed = true"
            >Anúncios Baseados em Interesses</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="divCopyright center p-3">
    <p>© 2024-2024 ConnectEvent</p>
  </div>
</nav>
