<div class="">
  <form class="divForm" (ngSubmit)="onSubmit()" #form="ngForm">
    <div class="divIntermediariaForm">
      <div class="divSetorForm">
        <label for="titulo">Título</label>
        <input type="text" [(ngModel)]="titulo" name="titulo" />

        <label for="descricao">Descrição</label>
        <textarea [(ngModel)]="descricao" name="descricao" id="descricao"></textarea>

        <label for="data">Data</label>
        <input type="date" [(ngModel)]="data" name="data" />

        <label for="horario">Horário</label>
        <input type="text" [(ngModel)]="horario" name="horario" />

        <label for="tipo">Tipo</label>
        <select class="styleButtons btn btn-outline-primary" [(ngModel)]="selectedTipo" name="tipo">
          <option value="">Tipo de Evento</option>
          <option *ngFor="let tipo of tipos" [value]="tipo.tipo">
            {{ tipo.tipo }}
          </option>
        </select>

        <label for="telefone">Telefone</label>
        <input type="text" [(ngModel)]="telefone" name="telefone" />

        <label for="livre">Livre +18</label>
        <div>
          <label>
            <input type="radio" [(ngModel)]="livre" name="livre" [value]="true"/>
            Sim
          </label>
          <label>
            <input type="radio" [(ngModel)]="livre" name="livre" [value]="false"/>
            Não
          </label>
        </div>


        <div class="divSetorForm">
          <label for="link">Link</label>
          <input type="url" [(ngModel)]="link" name="link" />

          <label for="rua">Rua</label>
          <input type="text" [(ngModel)]="rua" name="rua" />

          <label for="estado">Estado</label>
          <input type="text" [(ngModel)]="estado" name="estado" />

          <label for="cidade">Cidade</label>
          <select class="styleButtons btn btn-outline-primary cidade-dropdown" [(ngModel)]="selectedCidade"
            name="cidade">
            <option value="">Cidades</option>
            <option *ngFor="let cidade of cidades" [value]="cidade">
              {{ cidade }}
            </option>
          </select>

          <label for="bairro">Bairro</label>
          <input type="text" [(ngModel)]="bairro" name="bairro" />

          <label for="numero">Número</label>
          <input type="number" [(ngModel)]="numero" name="numero" />
        </div>

      </div>
    </div>
    <input type="button" value="Salvar" (click)="onSubmit()" />
  </form>
</div>