@import "padroes";

* {
  margin: 0;
  padding: 0;
}

.divBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tagTitulo {
  margin: 0.5rem 0;
  font-family: segoe ui;
}

.divFormEbotaoSalvar {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

.divFormInternaDoForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  padding: 1.5rem;
  width: 100%;
}

.tagSelect {
  cursor: pointer;

  &:hover,
  &:active,
  &:focus-within {
    background-color: rgb(239, 239, 239);
    transition: 0.2s ease-in;
  }
}

// ------------------ TAMANHO GRANDE ------------------------------------------------------

.divInputsGrandesForm {
  padding: 0 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
}

.tagLabelG,
.inputsStylesG {
  width: 100%;
}

.inputsStylesG {
  height: 2rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  color: black;
  border: 1px solid black;
  font-family: roboto;
  min-height: 2rem;
  max-height: 10rem;
}

// ------------------- TAMANHO PEQUENO ----------------------------------------------------

.divInputsPequenosForm {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.divConteudoUnitarioPequeno {
  display: flex;
  flex-direction: column;
}

.tagLabelP,
.inputsStylesP {
  width: 20rem;
  max-width: 100%;
}

.inputsStylesP {
  height: 2rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  color: black;
  border: 1px solid black;
  font-family: roboto;
  min-height: 2rem;
  max-height: 10rem;
}

// -------------------- TAMANHO MEDIO -----------------------------------------------------

.divInputsMediosForm {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

.divConteudoUnitarioMedio {
  display: flex;
  flex-direction: column;
}

.tagLabelM,
.inputsStylesM {
  width: 40rem;
  max-width: 100%;
}

.inputsStylesM {
  height: 2rem;
  padding: 0 1rem;
  border-radius: 0.5rem;
  color: black;
  border: 1px solid black;
  font-family: roboto;
  min-height: 2rem;
  max-height: 10rem;
}

// ----------------------------------------------------------------------------------------

.divSetordoForm {
  box-shadow: 0px 0px 5px rgb(176, 176, 176);
  border-radius: 1rem;

  width: 100%;
  padding: 2rem 0 3rem 0;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.styleBotaoCriar {
  width: 10rem;
  padding: 1rem;
  color: black;
  border-radius: 1rem;
  cursor: pointer;

  &:hover {
    background-color: rgb(215, 215, 215);
    transition: 0.2s ease-in;
  }
}
