<div class="divBody">
  <!-- <form action=""> -->
  <div class="divFiltro">
    <div class="divComponenteDoFiltro col-md-6">
      <label class="pb-2" for="">Evento</label>
      <div ngbDropdown>
        <select name="" class="w-100 select form-control-lg">
          <option *ngFor="let cidade; of" [value]="cidade">
            {{ cidade }}
          </option>
        </select>
      </div>
      <div class="divErro mt-2" id="generoErro"></div>
    </div>
    <div class="divComponenteDoFiltro col-md-6">
      <label class="pb-2" for="">Dados</label>
      <div ngbDropdown>
        <select name="" class="w-100 select form-control-lg">
          <option *ngFor="let cidade; of" [value]="cidade">
            {{ cidade }}
          </option>
        </select>
      </div>
      <div class="divErro mt-2" id="generoErro"></div>
    </div>
    <div class="divBotaoDoFiltro">
      <button class="mt-3">Selecionar</button>
    </div>
  </div>
  <!-- </form> -->

  <!-- DIV RESPONSÁVEL POR TRAZER AS INFORMACOES GRÁFICAS COM OS SEUS RESPECTIVOS TITULOS -->
  <div class="informacoesDosDadosFiltrados"></div>
</div>
