<div class="divMaior">
  <!-- <div
    class="divForm3 d-flex align-items-center justify-content-center flex-column"
  >
    <h5 class="tamanhoRegistreSe"></h5>
    
    <div>
      <div
        class="d-flex gap-1 btn-group btn-group-toggle"
        data-toggle="buttons"
      >
        <label
          class="botaoUsuario btn btn-secondary"
          [ngClass]="{ active: selectedOption === 'usuario' }"
        >
          <input
            type="radio"
            name="options"
            id="option1"
            autocomplete="off"
            [(ngModel)]="selectedOption"
            value="usuario"
          />
          Usuário
        </label>
        <label
          class="botaoAnunciante btn btn-secondary"
          [ngClass]="{ active: selectedOption === 'anunciante' }"
        >
          <input
            type="radio"
            name="options"
            id="option2"
            autocomplete="off"
            [(ngModel)]="selectedOption"
            value="anunciante"
          />
          Anunciante
        </label>
      </div>
    </div>
  </div> -->
  <!-- Login Usuário -->
  <section class="divForm" *ngIf="selectedOption === 'usuario'">
    <img
      class="tagIconConnectEvent"
      src="../../../assets/connectEventSemFundo.png"
      alt=""
    />
    <br />
    <h5 class="tamanhoRegistreSe">Login Usuário</h5>
    <form #form="ngForm" (ngSubmit)="onSubmit()"  class="divForm2">
      <div class="divInputs">
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline">
          <label class="form-label" for="form2Example1"
            >Endereço de Email</label
          >
          <input
            type="email"
            name="email"
            [(ngModel)]="email"
            id="form2Example1"
            class="form-control"
          />
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline">
          <label class="form-label" for="form2Example2">Senha</label>
          <input
            type="password"
            name="senha"
            [(ngModel)]="senha"
            id="form2Example2"
            class="form-control"
          />
        </div>
      </div>

      <!-- 2 column grid layout for inline styling -->
      <div class="divRememberMeForgotPassword row">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input
              class="checkboxRememberMe form-check-input"
              type="checkbox"
              value=""
              id="form2Example31"
              checked
            />
            <label class="form-check-label" for="form2Example31">
              Lembre-me
            </label>
          </div>
        </div>

        <div class="col d-flex justify-content-center">
          <a class="tagParaClick" [routerLink]="'/principal/esqueceuSenha'"
            >Esqueceu a senha?</a
          >
        </div>
      </div>

      <br />

      <!-- Submit button -->
      <button
        type="button"
        data-mdb-button-init
        data-mdb-ripple-init
        class="BotaoEntrar btn btn-primary"
        (click)="onSubmit()"
        type="submit" [disabled]="!form.valid"
      >
        Entrar
      </button>
      
      <br />

      <!-- Register buttons -->
      <div class="divNotRememberOrSignUp text-center">
        <a class="tagParaClick" [routerLink]="'/principal/register'"
          >Registre-se</a
        >
        <p>ou realize o Login com:</p>
        <div class="divButtonsSignUp">
          <button
            type="button"
            data-mdb-button-init
            data-mdb-ripple-init
            class="tagButtons tagFacebook btn"
          >
            <img
              class="tagImg"
              src="../../../assets/login/facebook.png"
              alt=""
            />
          </button>

          <button
            type="button"
            data-mdb-button-init
            data-mdb-ripple-init
            class="tagButtons tagSteam btn"
          >
            <img class="tagImg" src="../../../assets/login/social.png" alt="" />
          </button>

          <button
            type="button"
            data-mdb-button-init
            data-mdb-ripple-init
            class="tagButtons tagGoogle btn"
          >
            <img class="tagImg" src="../../../assets/login/google.png" alt="" />
          </button>

          <button
            type="button"
            data-mdb-button-init
            data-mdb-ripple-init
            class="tagButtons tagApple btn"
          >
            <img
              class="tagImg"
              src="../../../assets/login/apple-logo.png"
              alt=""
            />
          </button>
        </div>
      </div>
    </form>
  </section>
</div>
