<div class="divBody">
  <!-- SELO DO AMIGO -->
  <div class="divTemAmigos">
    <ng-container *ngIf="participantes.length > 0">
      <img
        class="tagImgEstrelaTemAmigos"
        src="../../../../assets/amigos.png"
        alt="temAmigos"
        placement="top"
        ngbPopover="Um de seus amigos está participando deste evento"
        triggers="hover"
      />
    </ng-container>
  </div>
  <!-- Fim SELO DO AMIGO -->

  <div class="infoCard">
    <div class="divCarousel">
      <ngb-carousel [interval]="0" [keyboard]="true" [pauseOnHover]="true">
        <ng-template ngbSlide *ngFor="let img of imagemUrls; let i = index">
          <img
            class="tagImg d-block"
            [src]="img"
            alt="Imagem do evento {{ i + 1 }}"
          />
        </ng-template>
      </ngb-carousel>
    </div>
    <h4 class="tagTitulo text-center">{{ titulo }}</h4>
    <p class="text-center">{{ tipo }}</p>
    <p class="text-center">{{ bairro }}, {{ cidade }} ({{ estado }})</p>
    <a
      href="#"
      class="styleButtons btn btn-primary"
      [routerLink]="['/principal/cardPage', id]"
      id="{{ id }}"
      >Ir ao evento!
    </a>
  </div>
</div>
