<div class="divBody">
  <!--  -->
  <div class="divTemAmigos">
    <ng-container *ngIf="participantes.length > 0">
      <img
        class="tagImgEstrelaTemAmigos"
        src="../../../../assets/amigos.png"
        alt="temAmigos"
        placement="top"
        ngbPopover="Um de seus amigos está participando deste evento"
        triggers="hover"
      />
    </ng-container>
  </div>
  <!--  -->

  <div class="infoCard">
    <div class="divImg">
      <img [src]="imagem" class="tagImg" alt="" />
    </div>
    <div class="alinhamentoCard">
      <h5 class="">{{ titulo }}</h5>
      <p class="">
        Categoria: {{ tipo }}
        <br />
        Local: {{ bairro }}, {{ cidade }}/{{ estado }}
      </p>
    </div>
    <a
      href="#"
      class="styleButtons btn btn-primary"
      [routerLink]="['/principal/cardPage', id]"
      id="{{ id }}"
      >Ir ao evento!
    </a>
  </div>
</div>
