<div class="borderCard card">
  <img
    src="../../../../assets/canoagem.jpg"
    class="tagImg card-img-top"
    alt="Card image cap"
  />
  <div class="alinhamentoCard card-body">
    <h5 class="card-title">{{ titulo }}</h5>
    <p class="infosCard card-text">
      Tipo: {{ tipo }}
      <br />
      Local: {{ bairro }}, {{ cidade }}/{{ estado }}
    </p>

    <a
      href="#"
      class="styleButtons btn btn-primary"
      [routerLink]="['/principal/cardPage', id]"
      id="{{ id }}"
      >Ir ao evento!
    </a>
  </div>
</div>
