@import "padroes";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: $background-Card;
  border-radius: 0.6rem;
  padding: 1rem;
}

.alinhamentoCard {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tagImg {
  border-radius: 0.6rem;
}

.styleButtons {
  color: $cor-Texto-e-BordaBotao-card;
  border: none;
  width: 10rem;

  background-color: $background-Botao-card;

  &:hover {
    background-color: $background-hover-Botao-card;
  }
}

.borderCard {
  border: none;
  box-shadow: $detalhe-Sombra-BordasCard;
  width: 25rem;
}

.card-title {
  color: $cor-Titulo-Card;
}

.card-text {
  color: $cor-Texto-Card;
}
