@import "padroes";

* {
  margin: 0;
  padding: 0;
}

.divBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.divFeedbacks {
  padding: 30px;
  width: 50rem;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 15px $CONNECTEVENT-cor-cinza-mid;
  text-align: center;
}

.divInfoEbotoes{
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
}

.divInformacoesFeedbacks {
  
  // border: 1px solid green;
  word-break: break-all;
  text-align: start;
  width: 80%;
  margin-bottom: 15px;
  
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
  
}

.divBotoes {
  width: 20%;
  // border: 1px solid blue;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.btnEditar {
  padding: 5px 10px;
  background-color: $CONNECTEVENT-cor-azul-light;
  border: 2px solid $CONNECTEVENT-cor-branco;
  box-shadow: 0px 0px 5px $CONNECTEVENT-cor-cinza-mid;
  border-radius: 20px;
  color: $CONNECTEVENT-cor-branco;
  transition: 0.3s;

  &:hover {
    background-color: $CONNECTEVENT-cor-azul-escuro;
  }
}

.btnExcluir {
  padding: 5px 10px;
  background-color: $CONNECTEVENT-cor-vermelho-light;
  border: 2px solid $CONNECTEVENT-cor-branco;
  box-shadow: 0px 0px 5px $CONNECTEVENT-cor-cinza-mid;
  border-radius: 20px;
  color: $CONNECTEVENT-cor-branco;
  transition: 0.3s;

  &:hover {
    background-color: $CONNECTEVENT-cor-vermelho-escuro;
  }
}
