@import "padroes";

* {
  padding: 0;
  margin: 0;
}

.backgroundPrincipal {
  background-color: $background-HomePage; // cor background geral, atrás dos cards
}

.divFiltrosNavBar {
  background-color: $background-NavBarFooter2; // cor dos filtros na navbar
  border-bottom: 3px solid $cor-bordas-NavBarFooter;
  box-shadow: $cor-sombra-NavBarFooter;
}

.divIconeEFiltros {
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 0.5rem; NAO COLOCAR GAP, POIS TRAVA A ANIMACAO DE ENCOLHIMENTO
}

.tagIcon {
  margin-top: 0.5rem;
  width: 3rem;
  height: 3rem;
}

.divFiltros {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.divCards {
  margin: 0;
  padding: 5rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6rem 3rem;
  justify-content: center;
  flex-wrap: wrap;
}
