@import "padroes";

* {
  padding: 0;
  margin: 0;
}

.backgroundPrincipal {
  // background: linear-gradient(
  //   225deg,
  //   $CONNECTEVENT-cor-cinza-dark 0%,
  //   $CONNECTEVENT-cor-cinza-mid 70%,
  //   $CONNECTEVENT-cor-cinza-light 100%
  // );
  background: url(../../../assets/pexels-magda-ehlers-pexels-3575827.jpg); //$CONNECTEVENT-cor-cinza-mid;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;
  overflow: visible; /* Garante que o sticky funcione */
}

.divFiltro {
  position: sticky;
  top: 0; /* Define o ponto em que o elemento se "gruda" ao rolar */
  z-index: 10; /* Para manter o filtro acima de outros elementos */
  background-color: white; /* Evita que o conteúdo por trás fique visível */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona um sombreamento sutil */
}

.tagIcon {
  margin-top: 0.5rem;
  width: 3rem;
  height: 3rem;
}

.divCarousel1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.divCarousel2 {
  border: 3px solid blue;
  width: 15rem;
  height: auto;
}

.divCards {
  border: 1px solid red;
  margin: 0;
  padding: 5rem 0.5rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 4rem 2rem;
  justify-content: center;
  flex-wrap: wrap;
}
