<div class="backgroundPrincipal">
  <nav class="divFiltrosNavBar navbar-expand-lg navbar-light">
    <div class="divIconeEFiltros">
      <a class="mb-2" [routerLink]="'.'" (click)="collapse.toggle()"
        ><img class="tagIcon" src="../../../assets/filtro.png" alt=""
      /></a>
      <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="mb-3 divFiltros card-body">
          <app-filter></app-filter>
          <app-filter></app-filter>
          <app-filter></app-filter>
        </div>
      </div>
    </div>
  </nav>

  <div class="divCards" *ngFor="let evento of eventos">
    <app-card
      [titulo]="evento.titulo"
      [descricao]="evento.descricao"
    ></app-card>
  </div>
</div>
