<div class="backgroundPrincipal">
  <!-- Filtro -->
  <div class="mb-3 card-body">
    <app-filter (eventosFiltrados)="atualizarEventos($event)"></app-filter>
  </div>
  <!-- Fim Filtro -->

  <!-- Cards -->
  <div class="divCards">
    <app-card
      *ngFor="let evento of eventos"
      [imagem]="'http://localhost:3000/uploads/' + evento.fotos[0].foto"
      [titulo]="evento.titulo"
      [descricao]="evento.descricao"
      [id]="evento.id"
      [tipo]="evento.tipo"
      [bairro]="evento.endereco.bairro"
      [cidade]="evento.endereco.cidade"
      [estado]="evento.endereco.estado"
      [participantes]="evento.participantes"
    ></app-card>
  </div>
  <!-- Fim Cards -->
</div>
