/* Padrões utilizados no projeto */

/* NavBar e Footer */
$cor-bordas-NavBarFooter: wheat;
$cor-sombra-NavBarFooter: 0px 0px 10px rgb(176, 176, 176); // direita sul brilho
$background-NavBarFooter: #2b2b2b;
$background-NavBarFooter2: #303030;
$cor-Texto-e-BordaBotao-NavBarFooter: #dea521;
$cor-Hover-Botao-NavBarFooter: #353535;
$cor-Texto-e-Bordas-active-Botao-NavBarFooter: #5b5b5b;
/* Lembrando que os icones das Redes Sociais devem ser confeccionados em Photoshop */

/* Outros */
$cor-checkedBox: 0px 0px 7px black;

/* Home Page // Login // Register */
/* Default */
$background-HomePage: #e2e2e2; // background geral, atrás dos cards
/* Cards */
$cor-Titulo-Card: #212121;
$cor-Texto-Card: #2c2c2c;
$background-active-Botao-Card: #5b5b5b;
$background-Card: #bdbdbd;
$background-Botao-card: #2b2b2b;
$background-hover-Botao-card: #404040;
$cor-Texto-e-BordaBotao-card: #efefef;
$cor-Bordas-Card: none; // rgb(57, 57, 57);
$detalhe-Sombra-BordasCard: 0px 0px 10px rgb(132, 132, 132); // direita sul brilho

/* Home Pages Especiais */

//
