// ------------------------------------------------------------------------------
// ---------------------- Padrões utilizados no projeto -------------------------
// ------------------------------------------------------------------------------

// ------------------------------------------------------------------------------
// --------------------------------- Fontes -------------------------------------
// ------------------------------------------------------------------------------
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// ------------------------------------------------------------------------------
// -------------------------------- Dark Mode -----------------------------------
// ------------------------------------------------------------------------------
$CONNECTEVENT-cor-cinza-light: #b0b0b0;
$CONNECTEVENT-cor-cinza-low-mid: #7c7c7c;
$CONNECTEVENT-cor-cinza-mid: #353535;
$CONNECTEVENT-cor-cinza-low-dark: #303030;
$CONNECTEVENT-cor-cinza-dark: #2b2b2b;
$CONNECTEVENT-cor-preto: black;

// ------------------------------------------------------------------------------
// -------------------------------- Light Mode ----------------------------------
// ------------------------------------------------------------------------------
// Apenas as duas primeiras cores são confirmadas
$CONNECTEVENT-cor-branco: white;
$CONNECTEVENT-cor-branco-light-gelo: #efefef;

// Light Mode não confirmado
$CONNECTEVENT-cor-branco-mid: #cfcfcf;
$CONNECTEVENT-cor-branco-dark: #aeaeae;

// ------------------------------------------------------------------------------
// ---------------------------------- Cores -------------------------------------
// ------------------------------------------------------------------------------
// ----- Cores CONNECTEVENT -----
$CONNECTEVENT-cor-dourado-light: wheat;
$CONNECTEVENT-cor-dourado: #dea521;
$CONNECTEVENT-cor-limao: #eaf587;

// ------------------------------------------------------------------------------
// --------------------------------- Detalhes -----------------------------------
// ------------------------------------------------------------------------------
// --------- Obrigatoriamente os detalhes devem estar abaixo das cores ----------
// ------------------------------------------------------------------------------
$detalhe-borda-especial: $CONNECTEVENT-cor-dourado-light;
$detalhe-borda-normal: $CONNECTEVENT-cor-dourado;

$detalhe-borda-hover-light: $CONNECTEVENT-cor-dourado-light;

// ------------------------------------------------------------------------------
// ----------------------------- Botões das Tabelas -----------------------------
// ------------------------------------------------------------------------------
.BotaoTabelaCONNECTEVENT {
  padding: 0 0.5rem;
  border-radius: 1rem;
  border: 2px solid black;
  color: white;
  background-color: grey;
}

.herancaCoresTabela {
  margin-top: 15px;
  width: 100%;
  overflow: hidden;
  border-collapse: separate;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  border-radius: 1.5rem;
}

.herancaCoresTabela > thead > tr > th {
  background-color: rgb(53, 16, 53);
  color: white;
  font-weight: bold;
}

.herancaCoresTabela > tbody > tr > td {
  background-color: rgb(255, 238, 255);
}

.styleButtonsNavBar {
  color: $detalhe-borda-normal;
  padding: 0.7rem 2rem;
  width: 10rem;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  position: relative; // Necessário para posicionar o pseudo-elemento

  &::after {
    content: "";
    position: absolute;
    bottom: 0; // Posiciona o pseudo-elemento na parte inferior
    left: 50%; // Começa no centro
    width: 0;
    height: 3px; // Altura desejada para a "borda"
    background-color: $detalhe-borda-normal;
    transition: all 0.3s ease-out; // Controle a duração e o timing
    transform: translateX(-50%);
  }

  &:hover::after {
    width: 100%;
  }
}

// Mixin para tema claro
// @mixin light-theme {
//   background-color: $CONNECTEVENT-cor-branco-mid;
//   color: $CONNECTEVENT-cor-branco-mid;

//   a {
//     color: $CONNECTEVENT-cor-branco-mid;
//   }

//   button {
//     background-color: $CONNECTEVENT-cor-branco-mid;
//     color: $CONNECTEVENT-cor-branco-mid;

//   }
// }

// Mixin para tema escuro
// @mixin dark-theme {
//   background-color: $CONNECTEVENT-cor-preto;
//   color: $CONNECTEVENT-cor-preto;

//   a {
//     color: $CONNECTEVENT-cor-preto;
//   }

//   button {
//     background-color: $CONNECTEVENT-cor-preto;
//     color: $CONNECTEVENT-cor-preto;

//   }
// }

// Estilos Globais
// body {
//   // Tema claro padrão
//   @include light-theme;

//   // Quando a classe 'dark' for adicionada ao body, aplica o tema escuro
//   &.dark-theme {
//     @include dark-theme;
//   }

//   @media (prefers-color-scheme: dark-theme) {
//     @include dark-theme;
//   }

// }
