@import "padroes";

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.divBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.tagTitulo {
  margin: 0.5rem 0 1rem 0;
}

.divGeralComTodasAsListas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.divListaEsquerdaSeusAmigos,
.divListaDireitaAddPendentesErecebidos {
  padding: 1rem;
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 5px black;
  border-radius: 1rem;
}

.divListaEsquerdaSeusAmigos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.divListaDireitaAddPendentesErecebidos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.divInputAddAmigos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.formAddAmigo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.divBoxAdicionarAmigos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.divPedidosPendentes {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px black;
}

.divPedidosRecebidos {
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px black;
}
