@import "padroes";

// @media (max-width: 992px) {
//   .tagDivComposta {
//     padding: 1rem 2rem;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     gap: 2rem;
//   }

//   .styleButtons {
//     width: 100%;
//   }

//   .divHamburguer {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     gap: 1rem;

//     width: 100%;
//     height: 100%;
//   }

//   .navbar-toggler-icon {
//     border: 1px solid $cor-Texto-e-BordaBotao-NavBarFooter;
//     border-radius: 2px;
//     box-shadow: $detalhe-Sombra-BordasCard;
//     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(222, 165, 33, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
//   }

//   .tagListaBotao {
//     width: 100%;

//     display: flex;
//     flex-direction: row;
//     gap: 1rem;
//   }
// }

* {
  padding: 0;
  margin: 0;
}

.tagDivComposta {
  // border: 1px solid red;
  display: flex;

  padding: 1rem 10rem 1rem 10rem;
  background-color: $background-NavBarFooter;
  border-bottom: 3px solid $cor-bordas-NavBarFooter;
  box-shadow: $cor-sombra-NavBarFooter;
}

.tagListaBotao {
  width: 100%;

  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.tagImg {
  height: 6rem;
  width: 7rem;
}

.styleButtons {
  border: 1px solid $cor-Texto-e-BordaBotao-NavBarFooter;
  color: $cor-Texto-e-BordaBotao-NavBarFooter;
  background-color: $background-NavBarFooter2;
  padding: 0.2rem;
  width: 10rem;

  &:hover {
    background-color: $cor-Hover-Botao-NavBarFooter;
  }

  &:active {
    border: 1px solid $cor-Texto-e-Bordas-active-Botao-NavBarFooter;
    color: $cor-Texto-e-Bordas-active-Botao-NavBarFooter;
    background-color: $cor-Hover-Botao-NavBarFooter;
  }
}
