<nav class="divNavBar navbar-expand">
  <a class="tituloCONNECTEVENT" [routerLink]="'/principal/homePage'">
    CONNECTEVENT
  </a>
  <button (click)="toggleTheme()">Alterar Tema</button>
  <!-- Div responsável por transformar botão em Menu Hamburguer -->
  <!-- Colocar ngIf -->
  <div class="divBotoes">
    <!-- Botões Login/Registro OU ÁreaUsuário/Logout -->
    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
      <ul class="listaBotao navbar-nav">
        <ng-container *ngIf="!(autenticacao$ | async)">
          <!-- Verifica se a autenticação é falsa -->
          <li class="nav-item">
            <a
              class="styleButtons btn nav-item active"
              [routerLink]="'/principal/login'"
              (click)="isMenuCollapsed = true"
            >
              Login
            </a>
          </li>
          <li class="nav-item">
            <a
              class="styleButtons btn nav-item active"
              [routerLink]="'/principal/register'"
              (click)="isMenuCollapsed = true"
              >Register</a
            >
          </li>
        </ng-container>
        <ng-container *ngIf="autenticacao$ | async">
          <!-- Verifica se a autenticação é verdadeira -->
          <li class="nav-item">
            <a
              class="styleButtons btn nav-item active"
              [routerLink]="'/principal/areaUsuario'"
              >Área do usuário</a
            >
          </li>
          <li class="nav-item">
            <a
              (click)="logout()"
              class="tagSair styleButtons btn nav-item active"
              >Logout</a
            >
          </li>
        </ng-container>
      </ul>
    </div>
    <!-- DIV DO MENU HAMBURGUER -->
    <div></div>
  </div>
</nav>
