@import "padroes";

* {
  padding: 0;
  margin: 0;
}

.divNavBar {
  // border: 1px solid red;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  padding: 0.8rem 0;
  background-color: $CONNECTEVENT-cor-cinza-dark;
  border-bottom: 3px solid $detalhe-borda-especial;
  box-shadow: 0px 0px 10px $CONNECTEVENT-cor-cinza-light;
}

.tituloCONNECTEVENT {
  background: linear-gradient(
    to right,
    $detalhe-borda-normal,
    $CONNECTEVENT-cor-limao
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: system-ui;
  font-size: 2.5rem;

  @media screen and (max-width: 80rem) {
    font-size: 1.5rem;
  }
}

.divBotoes {
  width: auto;
}

.listaBotao {
  display: flex;
  gap: 1rem;
}

.styleButtons {
  border: 1px solid $detalhe-borda-normal;
  color: $detalhe-borda-normal;
  background-color: $CONNECTEVENT-cor-cinza-low-dark;
  padding: 0.2rem;
  width: 10rem;

  &:hover {
    background-color: $CONNECTEVENT-cor-cinza-mid;
  }

  &:active {
    border: 1px solid $CONNECTEVENT-cor-cinza-light;
    color: $CONNECTEVENT-cor-cinza-light;
    background-color: $CONNECTEVENT-cor-cinza-mid;
  }
}

.tagSair {
  background-color: rgb(192, 58, 58);
  color: white;
  font-weight: 600;
  transition: background-color 1s, transform 2s;

  &:hover {
    background-color: rgb(209, 134, 134);
  }
}
