<div
  class="divPai"
  [ngStyle]="{ 'background-image': 'url(' + imagemEventoUrl[0] + ')' }"
>
  <div class="divCartaoDoEvento">
    <div class="centralizar">
      <div class="divImagem">
        <ngb-carousel [interval]="0" [keyboard]="true" [pauseOnHover]="true">
          <ng-template
            ngbSlide
            *ngFor="let img of imagemEventoUrl; let i = index"
          >
            <div class="divEntreDivImgEtagImg picsum-img-wrapper">
              <img
                [src]="img"
                alt="Imagem do evento {{ i + 1 }}"
                class="tagImg d-block"
              />
            </div>
            <div class="carousel-caption">
              <!-- <p>Imagem {{ i + 1 }} de {{ imagemEventoUrl.length }}</p> -->
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="divDetalhesEvento" *ngIf="evento">
        <div class="detalhesEsquerda">
          <div class="divDescricaoEvento">
            <div class="w-100 text-center">
              <h1>{{ evento.titulo }}</h1>
              <h5>{{ evento.tipo }}</h5>
            </div>
            <p>{{ evento.descricao }}</p>
          </div>

          <div
            class="divDosAmigosImagemElistagem"
            *ngIf="evento.participantes.length > 0"
          >
            <img
              class="tagImgEstrelaTemAmigos"
              src="../../../assets/amigos.png"
              alt=""
            />
            <p *ngFor="let participante of evento.participantes">
              {{ participante.nome }}
            </p>
          </div>

          <div class="divBotaoConfirmarRetirarPresenca">
            <button
              class="btnConfirmarPresenca"
              *ngIf="!desabilitarBotao && (autenticacao$ | async)"
              [disabled]="desabilitarBotao"
              (click)="participar()"
            >
              Confirmar Presença
            </button>
            <button
              class="btnRetirarPresenca"
              for="presenca"
              *ngIf="desabilitarBotao && (autenticacao$ | async)"
              [disabled]="!desabilitarBotao"
              (click)="removerParticipar()"
            >
              Retirar Presença
            </button>
          </div>
        </div>
        <div class="detalhesDireita">
          <div class="cardsDataLocalTelefone">
            <div class="divIconeDataLocalAlign">
              <img
                class="tagIcon"
                src="../../../assets/card-page/calendar.png"
                alt=""
              />
              <p><b>Data</b></p>
            </div>
            <p>{{ evento.data }} - {{ evento.horario }}</p>
          </div>
          <div class="cardsDataLocalTelefone">
            <div class="divIconeDataLocalAlign">
              <img
                class="tagIcon"
                src="../../../assets/card-page/location.png"
                alt=""
              />
              <p>
                <b>Local</b>
              </p>
            </div>
            <p>
              {{ evento.endereco.local }}, {{ evento.endereco.cidade }}/{{
                evento.endereco.estado
              }}
            </p>
          </div>

          <div class="cardsDataLocalTelefone">
            <div class="divIconeDataLocalAlign">
              <img
                class="tagIcon"
                src="../../../assets/card-page/telephone.png"
                alt=""
              />
              <p><b>Telefone</b></p>
            </div>
            <p>{{ evento.telefone }}</p>
          </div>
          <button class="styleButtons btn btn-primary">
            <img
              class="tagIcon"
              src="../../../assets/card-page/external-linkCOLOR.png"
              alt=""
            />
            Click para Link do Evento
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
