<div class="divPai">
  <div class="divCartaoDoEvento">
    <div class="centralizar">
      <div class="divImagem">
        <img
          class="tagImagem"
          src="../../../assets/2pexels-edotommo99-3249760.jpg"
          alt=""
        />
      </div>
      <div class="divDetalhesEvento" *ngIf="evento">
        <div class="detalhesEsquerda">
          <div class="divDescricaoEvento">
            <div class="w-100 text-center">
              <h1>{{ evento.titulo }}</h1>
              <h5>{{ evento.tipo }}</h5>
            </div>
            <p>{{ evento.descricao }}</p>
          </div>
          <div>
            <button *ngIf="!isButtonHidden">Confirmar Presença</button>
          </div>
        </div>
        <div class="detalhesDireita">
          <div class="cardsDataLocalTelefone">
            <div class="divIconeDataLocalAlign">
              <img
                class="tagIcon"
                src="../../../assets/card-page/calendar.png"
                alt=""
              />
              <p><b>Data</b></p>
            </div>
            <p>{{ evento.data }} - {{ evento.horario }}</p>
          </div>
          <div class="cardsDataLocalTelefone">
            <div class="divIconeDataLocalAlign">
              <img
                class="tagIcon"
                src="../../../assets/card-page/location.png"
                alt=""
              />
              <p>
                <b>Local</b>
              </p>
            </div>
            <p>
              {{ evento.endereco.local }}, {{ evento.endereco.cidade }}/{{
                evento.endereco.estado
              }}
            </p>
          </div>

          <div class="cardsDataLocalTelefone">
            <div class="divIconeDataLocalAlign">
              <img
                class="tagIcon"
                src="../../../assets/card-page/telephone.png"
                alt=""
              />
              <p><b>Telefone</b></p>
            </div>
            <p>{{ evento.telefone }}</p>
          </div>
          <button class="styleButtons btn btn-primary">
            <img
              class="tagIcon"
              src="../../../assets/card-page/external-linkCOLOR.png"
              alt=""
            />
            Click para Link do Evento
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
