<div class="divPai">
  <div class="divBotaoDoIconeComBotaoTexto">
    <form class="displayForm">
      <div class="row">
        <div class="">
          <div data-mdb-input-init class="divCentralizar form-outline">
            <h1>Recuperar senha:</h1>
            <label class="form-label" for="emailRecuperar"
              >Insira o seu e-mail:</label
            >
            <input
              type="text"
              id="emailRecuperar"
              class="form-control form-control-lg"
            />

            <button class="nav-item">
              <a
                class="styleButtons btn nav-item active"
                [routerLink]="'/principal/login'"
                >Buscar</a
              >
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
