<div class="divPai">
  <div class="divCartaoDoEvento">
    <div class="centralizar">
      <div class="tagMargin divItemPlusBox">
        <img
          class="tagIcon"
          src="../../../assets/restrictPlaceUser/post-it.png"
          alt=""
        />
        <h5 class="tagTitulo">Área Restrita - Anunciante</h5>
        <img
          class="tagIcon"
          src="../../../assets/restrictPlaceUser/post-it.png"
          alt=""
        />
      </div>
      <div class="divDetalhesEvento">
        <div class="detalhesEsquerda">
          <ul class="tagListaBotao navbar-nav">
            <li class="nav-item">
              <div class="divItemPlusBox">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/coworking.png"
                  alt=""
                />
                <a class="styleButtons btn nav-item active"
                  >Eventos Anunciados</a
                >
              </div>
            </li>
            <li class="nav-item">
              <div class="divItemPlusBox">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/order-delivery.png"
                  alt=""
                />
                <a class="styleButtons btn nav-item active"
                  >Eventos Ocorridos</a
                >
              </div>
            </li>
          </ul>
        </div>
        <div class="detalhesDireita">
          <ul class="tagListaBotao navbar-nav">
            <li class="nav-item">
              <div class="divItemPlusBox">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/feedback-do-cliente.png"
                  alt=""
                />
                <a class="styleButtons btn nav-item active">Feedbacks</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="divItemPlusBox">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/estatisticas.png"
                  alt=""
                />
                <a class="styleButtons btn nav-item active">Estatísticas</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="divDetalhesEvento">
        <div class="detalhesEsquerda">
          <ul class="tagListaBotao navbar-nav">
            <li class="nav-item">
              <div class="divItemPlusBox">
                <img
                  class="tagIconG"
                  src="../../../assets/restrictPlaceUser/settings.png"
                  alt=""
                />
                <a class="styleButtons btn nav-item active">Configurações</a>
              </div>
            </li>
            <li class="tagSair nav-item">
              <div class="divItemPlusBox">
                <img
                  class="tagIconG"
                  src="../../../assets/restrictPlaceUser/sair.png"
                  alt=""
                />
                <a class="styleButtons btn nav-item active" [routerLink]="''"
                  >Sair</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
