@import "padroes";

.divBody {
  padding: 2rem 0rem;
  background-color: $background-HomePage;
}

.displaySectionForm {
  box-shadow: $detalhe-Sombra-BordasCard;
  border-radius: 5px;
  padding: 1rem;
  width: 70rem;
  max-width: 90%;
  margin: 0 auto;
}

.divPrincipal2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  @media screen and (max-width: 80rem) {
    gap: 0rem;
  }
}

.fotoCadastro {
  height: 35rem;

  width: 35rem;
  box-shadow: $detalhe-Sombra-BordasCard;
  border-radius: 10%;

  @media screen and (max-width: 80rem) {
    display: none;
  }
}

.divCabecalho {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.tamanhoRegistreSe {
  color: rgb(102, 102, 102);
  font-size: 2rem;
}

.divTituloEimagemEconteudoInputsForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tagIconConnectEvent {
  height: 6rem;
  width: 7rem;
}

.displayForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.div1 {
  width: 100%;
}

.tagButtonEnviar {
  background-color: $background-Botao-card;
  border: none;

  &:hover {
    background-color: $background-hover-Botao-card;
  }

  &:active {
    background-color: $background-active-Botao-Card;
  }
}

.divErro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
