<div class="divBody">
  <div class="divPanorama">
    <!-- AQUI COMEÇA A DIV ESQUERDA  -->
    <div class="divEsquerda">
      <div class="centralizarEsquerdaEdireita">
        <div class="divCabecalho">
          <img
            class="tagIcon"
            src="../../../assets/restrictPlaceUser/pin.png"
            alt=""
          />
          <h5 class="tagTitulo">Usuário</h5>
          <img
            class="tagIcon"
            src="../../../assets/restrictPlaceUser/pin.png"
            alt=""
          />
        </div>
        <div class="">
          <ul class="divListaBotoesEsquerdaEdireita navbar-nav">
            <li class="nav-item">
              <div class="divBotaoDoIconeComBotaoTexto">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/confirmation.png"
                  alt=""
                />
                <a class="styleButtons btn nav-item active"
                  >Eventos Confirmados</a
                >
              </div>
            </li>
            <li class="nav-item">
              <div class="divBotaoDoIconeComBotaoTexto">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/order-delivery.png"
                  alt=""
                />
                <a class="styleButtons btn nav-item active"
                  >Eventos Ocorridos</a
                >
              </div>
            </li>
            <li class="nav-item">
              <div class="divBotaoDoIconeComBotaoTexto">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/add.png"
                  alt=""
                />
                <a class="styleButtons btn nav-item active">Adicionar Amigos</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="divBotaoDoIconeComBotaoTexto">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/high-five.png"
                  alt=""
                />
                <a class="styleButtons btn nav-item active">Lista de Amigos</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- AQUI COMEÇA A DIV CENTRAL  -->
    <div class="divCentral"><router-outlet></router-outlet></div>

    <!-- AQUI COMEÇA A DIV DIREITA  -->
    <div class="divDireita">
      <div class="centralizarEsquerdaEdireita">
        <div class="divCabecalho">
          <img
            class="tagIcon"
            src="../../../assets/restrictPlaceUser/post-it.png"
            alt=""
          />
          <h5 class="tagTitulo">Anunciar</h5>
          <img
            class="tagIcon"
            src="../../../assets/restrictPlaceUser/post-it.png"
            alt=""
          />
        </div>
        <div class="">
          <ul class="divListaBotoesEsquerdaEdireita navbar-nav">
            <li class="nav-item">
              <div class="divBotaoDoIconeComBotaoTexto">
                <img class="tagIcon" src="../../../assets/add2.png" alt="" />
                <a class="styleButtons btn nav-item active">Criar Evento</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="divBotaoDoIconeComBotaoTexto">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/coworking.png"
                  alt=""
                />
                <a class="styleButtons btn nav-item active"
                  >Eventos Anunciados</a
                >
              </div>
            </li>
            <li class="nav-item">
              <div class="divBotaoDoIconeComBotaoTexto">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/order-delivery.png"
                  alt=""
                />
                <a class="styleButtons btn nav-item active"
                  >Eventos Ocorridos</a
                >
              </div>
            </li>
            <li class="nav-item">
              <div class="divBotaoDoIconeComBotaoTexto">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/feedback-do-cliente.png"
                  alt=""
                />
                <a class="styleButtons btn nav-item active">Feedbacks</a>
              </div>
            </li>
            <li class="nav-item">
              <div class="divBotaoDoIconeComBotaoTexto">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/estatisticas.png"
                  alt=""
                />
                <a class="styleButtons btn nav-item active">Estatísticas</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- AQUI COMEÇA A DIV DE BAIXO  -->
  <div class="divBaixo">
    <ul class="divLinearParaAboxDeBaixo navbar-nav">
      <li class="nav-item">
        <div class="tagConfig divBotaoDoIconeComBotaoTexto">
          <img
            class="tagIconG"
            src="../../../assets/restrictPlaceUser/settings.png"
            alt=""
          />
          <a class="styleButtons btn nav-item active">Configurações</a>
        </div>
      </li>
      <li class="nav-item">
        <div class="tagSair divBotaoDoIconeComBotaoTexto">
          <img
            class="tagIconG"
            src="../../../assets/restrictPlaceUser/sair.png"
            alt=""
          />
          <a class="styleButtons btn nav-item active" [routerLink]="''">Sair</a>
        </div>
      </li>
    </ul>
  </div>
</div>
