<div class="divPai">
  <div class="divCartaoDoEvento">
    <div class="centralizar">
      <div class="divDetalhesEvento">
        <div class="detalhesEsquerda">
          <h5>Título USUARIO COMUM</h5>
          <p>Editar registro</p>
          <p>Lista de Eventos Confirmados</p>
          <p>Lista de Eventos Passados</p>
          <p>Botão</p>
          <p>Botão</p>
          <p>Botão</p>
        </div>
        <div class="detalhesDireita">
          <p>Adicionar Amigos</p>
          <p>Lista de Amigos</p>
          <p>sei la mais oq USUARIO COMUM</p>
        </div>
      </div>
    </div>
  </div>
</div>
