@import "padroes";

.divPanorama {
  width: 100%;

  display: flex;
  flex-direction: row;
}

.divEsquerda {
  // border: 2px solid black;
  width: 15%;
  padding: 2rem 0 2rem 0;
}

.divCentral {
  width: 70%;
  min-height: 40rem;
}

.divDireita {
  // border: 2px solid greenyellow;
  width: 15%;
  padding: 2rem 0 2rem 0;
}

.divBaixo {
  // border: 2px solid purple;
  padding: 2rem;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tagIconG {
  width: 3rem;
  height: 3rem;
}

.tagIcon {
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.tagTitulo {
  font-size: 1.5rem;
}

.centralizarEsquerdaEdireita {
  // border: 1px solid red;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.divCabecalho {
  // border: 1px solid purple;
  padding: 0.3rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 10px $background-NavBarFooter2;
  width: 16rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.divListaBotoesEsquerdaEdireita {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.divListaBotoesEsquerdaEdireita > li {
  transition: background-color 1s, width 2s, height 2s, transform 2s;

  &:hover {
    background-color: $background-HomePage;
    transform: scale(1.05);
  }
}

.btn {
  width: 12rem;
}

.styleButtons {
  border: 1px solid $cor-Texto-e-BordaBotao-NavBarFooter;
  color: $cor-Texto-e-BordaBotao-NavBarFooter;
  background-color: $background-NavBarFooter2;
  padding: 0.2rem;

  &:hover {
    background-color: $cor-Hover-Botao-NavBarFooter;
  }

  &:active {
    border: 1px solid $cor-Texto-e-Bordas-active-Botao-NavBarFooter;
    color: $cor-Texto-e-Bordas-active-Botao-NavBarFooter;
    background-color: $cor-Hover-Botao-NavBarFooter;
  }
}

.divLinearParaAboxDeBaixo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20rem;
}

.divBotaoDoIconeComBotaoTexto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 16rem;
  padding: 1rem;

  box-shadow: 0px 0px 10px $background-NavBarFooter2;
}

.tagConfig {
  background-color: rgb(255, 244, 217);
  transition: background-color 1s, width 2s, height 2s, transform 2s;

  &:hover {
    transform: scale(1.05);
    background-color: rgb(228, 213, 175);
  }
}

.tagSair {
  background-color: rgb(242, 200, 200);
  transition: background-color 1s, width 2s, height 2s, transform 2s;

  &:hover {
    transform: scale(1.05);
    background-color: rgb(209, 134, 134);
  }
}
