@import "padroes";

* {
  margin: 0;
  padding: 0;
}

.divBody {
  display: flex;
  flex-direction: row;

  width: 100%;
  // background: url(../../../assets/wallpapers/wallpaperflare.com_wallpaper7.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
}

.divMenuLateral {
  margin: 1rem 0.5rem 1rem 1rem;
  width: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.divConteudoMenu {
  width: 100%;
  min-width: 50vw;
  min-height: 40rem;
  // REVER A TAG ABAIXO
  backdrop-filter: blur(10px);
}

.divBorda {
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  // REVER A TAG ABAIXO
  box-shadow: 0px 0px 10px $CONNECTEVENT-cor-cinza-light;
}

.tagIconG {
  width: 3rem;
  height: 3rem;
}

.tagIconM {
  width: 2.5rem;
  height: 2.5rem;
}

.tagIcon {
  margin: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.filterDropShadow {
  filter: drop-shadow(0px 0px 5px $CONNECTEVENT-cor-branco);
}

.tagTitulo {
  font-size: 1.5rem;
  color: $CONNECTEVENT-cor-branco;
}

.divAccordion {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.divAccordionItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}

.divAccordionHeader {
  width: 100%;
}

// ------------------------------------------------------------------
// ------------------------------------------------------------------

// Propriedades AccordionButton
[ngbAccordionButton] {
  border: none;
  box-shadow: none;
  color: $CONNECTEVENT-cor-branco;
  background-color: $CONNECTEVENT-cor-cinza-dark;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  &:hover {
    background-color: $CONNECTEVENT-cor-cinza-mid;
  }
}

// Propriedades AccordionItem
[ngbAccordionItem] {
  background-color: $CONNECTEVENT-cor-cinza-dark;
  border: none;
}

::ng-deep .accordion-button::after {
  display: none;
}

// ------------------------------------------------------------------
// ------------------------------------------------------------------

.divAccordionBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.divAccordionBody > li {
  transition: background-color 0.2s, width 1s, height 1s, transform 1s;

  &:hover {
    background-color: $CONNECTEVENT-cor-cinza-mid;
  }
}

.divComponenteDoBotao {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 15rem;
  padding: 0.2rem;
}

.tagConfig {
  background-color: $CONNECTEVENT-cor-cinza-dark;
  padding: 1rem;
  border: none;
  box-shadow: none;
  width: 100%;
  transition: background-color 0.2s, width 1s, height 1s, transform 1s;

  &:hover {
    background-color: $CONNECTEVENT-cor-cinza-mid;
  }
}

.tagSair {
  background-color: rgb(242, 200, 200);
  transition: background-color 1s, width 2s, height 2s, transform 2s;

  &:hover {
    transform: scale(1.05);
    background-color: rgb(209, 134, 134);
  }
}
