<div class="divBody">
  <!-- Menu Lateral -->
  <div class="divMenuLateral">
    <!-- COLLAPSE = USUARIO + ANUNCIANTES -->
    <div ngbAccordion class="divAccordion">
      <!-- USUARIO -->
      <div ngbAccordionItem [collapsed]="true" class="divAccordionItem">
        <div ngbAccordionHeader class="divAccordionHeader">
          <button ngbAccordionButton>
            <div class="centralizarTextoDentroDaBoxCollapse">
              <img
                class="tagIcon"
                src="../../../assets/restrictPlaceUser/pin.png"
                alt=""
              />
              <h5 class="tagTitulo">Usuário</h5>
            </div>
          </button>
        </div>
        <div ngbAccordionCollapse class="">
          <ul ngbAccordionBody class="divAccordionBody navbar-nav">
            <li class="nav-item">
              <div class="divComponenteDoBotao">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/confirmation.png"
                  alt=""
                />
                <a
                  class="styleButtons btn nav-item active"
                  [routerLink]="'/principal/areaUsuario/eventosConfirmados'"
                  >Eventos Confirmados</a
                >
              </div>
            </li>

            <li class="nav-item">
              <div class="divComponenteDoBotao">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/high-five.png"
                  alt=""
                />
                <a
                  class="styleButtons btn nav-item active"
                  [routerLink]="'/principal/areaUsuario/listaDeAmigos'"
                  >Lista de Amigos</a
                >
              </div>
            </li>

            <li class="nav-item">
              <div class="divComponenteDoBotao">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/mapa.png"
                  alt=""
                />
                <a
                  class="styleButtons btn nav-item active"
                  [routerLink]="'/principal/areaUsuario/geolocalizacao'"
                  >Geolocalização</a
                >
              </div>
            </li>
            <li class="nav-item">
              <div class="divComponenteDoBotao">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/feedback-do-cliente.png"
                  alt=""
                />
                <a
                  class="styleButtons btn nav-item active"
                  [routerLink]="'/principal/areaUsuario/feedbacksUsuario'"
                  >Feedbacks</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!-- ANUNCIANTES -->
      <div ngbAccordionItem [collapsed]="true" class="divAccordionItem">
        <div ngbAccordionHeader class="divAccordionHeader">
          <button ngbAccordionButton class="divTeste">
            <div class="centralizarTextoDentroDaBoxCollapse">
              <img
                class="tagIcon"
                src="../../../assets/restrictPlaceUser/post-it.png"
                alt=""
              />
              <h5 class="tagTitulo">Anunciar</h5>
            </div>
          </button>
        </div>
        <div ngbAccordionCollapse class="">
          <ul ngbAccordionBody class="divAccordionBody navbar-nav">
            <li class="nav-item">
              <div class="divComponenteDoBotao">
                <img class="tagIcon" src="../../../assets/add2.png" alt="" />
                <a
                  class="styleButtons btn nav-item active"
                  [routerLink]="'/principal/areaUsuario/criarEvento'"
                  >Criar Evento</a
                >
              </div>
            </li>
            <li class="nav-item">
              <div class="divComponenteDoBotao">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/coworking.png"
                  alt=""
                />
                <a
                  class="styleButtons btn nav-item active"
                  [routerLink]="'/principal/areaUsuario/eventosAnunciados'"
                  >Eventos Anunciados</a
                >
              </div>
            </li>
            <li class="nav-item">
              <div class="divComponenteDoBotao">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/feedback-do-cliente.png"
                  alt=""
                />
                <a
                  class="styleButtons btn nav-item active"
                  [routerLink]="'/principal/areaUsuario/feedbacks'"
                  >Feedbacks</a
                >
              </div>
            </li>
            <li class="nav-item">
              <div class="divComponenteDoBotao">
                <img
                  class="tagIcon"
                  src="../../../assets/restrictPlaceUser/estatisticas.png"
                  alt=""
                />
                <a
                  class="styleButtons btn nav-item active"
                  [routerLink]="'/principal/areaUsuario/estatisticas'"
                  >Estatísticas</a
                >
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- CONFIGURAÇÕES -->
    <div class="tagConfig divComponenteDoBotao" style="padding: 0.5rem 1rem">
      <img
        class="tagIconG"
        src="../../../assets/restrictPlaceUser/settings.png"
        alt=""
      />
      <a
        class="styleButtons btn nav-item active"
        [routerLink]="'/principal/areaUsuario/configuracoes'"
        >Configurações</a
      >
    </div>

    <!-- SAIR -->
    <div class="tagSair divComponenteDoBotao" style="padding: 0.5rem 1rem">
      <img
        class="tagIconG"
        src="../../../assets/restrictPlaceUser/sair.png"
        alt=""
      />
      <a class="styleButtons btn nav-item active" (click)="logout()">Sair</a>
    </div>
  </div>

  <!-- Conteúdo do Menu -->
  <div class="divConteudoMenu divBorda">
    <router-outlet></router-outlet>
  </div>
</div>
