<div class="divFiltros">
  <!-- Select para tipo de evento sem ngbDropdown -->
  <div>
    <select
      class="styleButtons btn btn-outline-primary"
      [(ngModel)]="selectedTipo"
    >
      <!-- Opção padrão que aparece quando nenhum tipo de evento foi selecionado -->
      <option value="" disabled>Tipo de Evento</option>
      <!-- Opções de tipos de eventos -->
      <option *ngFor="let tipo of tipos" [value]="tipo.tipo">
        {{ tipo.tipo }}
      </option>
    </select>
  </div>

  <!-- Dropdown para data de evento -->
  <div ngbDropdown>
    <button
      type="button"
      class="styleButtons btn btn-outline-primary"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      <!-- Exibe a data ou "Data de Evento" se não houver data -->
      {{
        selectedDate ? (selectedDate | date : "dd/MM/yyyy") : "Data de Evento"
      }}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <input type="date" class="form-control" [(ngModel)]="selectedDate" />
    </div>
  </div>

  <!-- Dropdown para cidade -->
  <div ngbDropdown>
    <select
      class="styleButtons btn btn-outline-primary cidade-dropdown"
      [(ngModel)]="selectedCidade"
    >
      <!-- Opção padrão que aparece quando nenhum tipo de evento foi selecionado -->
      <option value="" disabled>Cidades</option>
      <option *ngFor="let cidade of cidades" [value]="cidade">
        {{cidade}}
      </option>
      <!-- Opções de tipos de eventos -->
      <!-- <option *ngFor="let tipo of tipos" [value]="tipo.id">
        {{ tipo.tipo }}
      </option> -->
    </select>
  </div>

  <!-- Botao aplicar -->
  <div>
    <div>
      <button
        class="tagAplicar styleButtons btn btn-outline-primary"
        ngbDropdownItem
        (click)="filtrar()"
        
      >
        Aplicar
      </button>
    </div>
  </div>
  
</div>
