@import "padroes";

.divFiltros {
  padding: 1rem 0 0.7rem 0;
  border-bottom: 3px solid $cor-bordas-NavBarFooter;
  box-shadow: 0px 0px 15px rgb(40, 40, 40);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: $background-NavBarFooter;
}

.styleButtons {
  border: 1px solid $cor-Texto-e-BordaBotao-NavBarFooter;
  border-radius: 1rem;
  color: $cor-Texto-e-BordaBotao-NavBarFooter;

  padding: 0.2rem;
  width: 10rem;
  appearance: none; /* Remove a seta padrão no Chrome, Safari, etc. */

  &:hover {
    background-color: $cor-Hover-Botao-NavBarFooter;
  }
}

.tagAplicar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cidade-dropdown {
  max-height: 150px; /* Altura máxima da lista (ajustável) */
  overflow-y: auto; /* Ativa a barra de rolagem vertical */
}
