<div class="divFiltros">
  <!-- Dropdown para tipo de evento -->
  <div ngbDropdown>
    <button
      type="button"
      class="styleButtons btn btn-outline-primary"
      id="dropdownTipoEvento"
      ngbDropdownToggle
    >
      Tipo de Evento
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownTipoEvento">
      <app-button-tipo
        *ngFor="let tipo of tipos"
        [tipo]="tipo.tipo"
        [id]="tipo.id"
      ></app-button-tipo>
    </div>
  </div>

  <!-- Select para tipo de evento sem ngbDropdown -->
  <div>
    <select class="select form-control-lg">
      <option *ngFor="let tipo of tipos" [value]="tipo.id">
        {{ tipo.tipo }}
      </option>
    </select>
  </div>

  <!-- Dropdown para data de evento -->
  <div ngbDropdown>
    <button
      type="button"
      class="styleButtons btn btn-outline-primary"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      Data de Evento
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem></button>
    </div>
  </div>

  <!-- Dropdown para cidade -->
  <div ngbDropdown>
    <button
      type="button"
      class="styleButtons btn btn-outline-primary"
      id="dropdownBasic1"
      ngbDropdownToggle
    >
      Cidade
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem></button>
    </div>
  </div>
</div>
