@import "padroes";

.tagImg {
  border-radius: 2rem 0.5rem;
  padding: 0 0.1rem;
  width: 21rem;
  height: 13rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tagImgEstrelaTemAmigos {
  width: 3rem;
  border: 3px solid $CONNECTEVENT-cor-branco;
  border-radius: 50%;
}