<ngb-carousel>
  <ng-template ngbSlide *ngFor="let evento of eventosDestaque; let i = index">
    <div class="divCorpoCarousel">
      <!-- TEM AMIGOS -->
      <div class="divTemAmigos">
        <ng-container *ngIf="evento.participantes.length > 0">
          <img
            class="tagImgEstrelaTemAmigos"
            src="../../../../assets/amigos.png"
            alt="temAmigos"
            placement="top"
            ngbPopover="Um de seus amigos está participando deste evento"
            triggers="hover"
          />
        </ng-container>
      </div>
      <!-- FIM TEM AMIGOS -->

      <div class="divTitulo">
        <p>{{ evento.titulo }}</p>
      </div>

      <img
        class="tagImg"
        [src]="'http://localhost:3000/uploads/' + evento.fotos[0].foto"
        alt="Foto"
      />

      <!-- <div class="divInformacoes">
        <p>Tipo de evento: {{ evento.tipo }}</p>

        <p>
          Localização: {{ evento.endereco.bairro }},
          {{ evento.endereco.cidade }} ({{ evento.endereco.estado }})
        </p>
      </div> -->
      <button
        class="botaoCarousel text-center"
        [routerLink]="['/principal/cardPage', evento.id]"
      >
        Ir ao Evento
      </button>
    </div>
  </ng-template>
</ngb-carousel>
