<div class="divBody">
  <div class="divTabelaPaginacaoQuantidade">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Título do Evento</th>
          <th scope="col">Data</th>
          <th scope="col">Hora</th>
          <th scope="col"></th>
          <th scope="col">Evento</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of paginatedEventos; trackBy: trackByEventoId">
          <th scope="row">{{ evento.id }}</th>
          <td>{{ evento.titulo }}</td>
          <td>{{ evento.data | date: 'shortDate' }}</td> <!-- Ajuste conforme o formato de data -->
          <td>{{ evento.hora | date: 'shortTime' }}</td> <!-- Ajuste conforme o formato de hora -->
          <td><button>Ver</button></td>
          <td><button>Editar</button></td>
          <td><button >Deletar</button></td>
        </tr>
      </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
        (pageChange)="refreshEventos()">
      </ngb-pagination>
    </div>
  </div>
</div>
